@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --dark-blue: #182B32;
    --light-blue: #6E8894;
    --white: #FFFFFF;
}

html,
body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
    font-family: Nunito, sans-serif;
}

a {
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    max-width: 100vw;
    margin: 0 120px 0 120px;
}

nav {
    height: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

nav .nav-logo {
    margin-left: 40px;
    width: 20%;
}

nav .nav-logo img {
    width: 140px;
    height: 120px;
}

nav .nav-logo p {
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 700;
    margin-left: -10px;
}

nav .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-left: 70px;
}

nav .nav-links a {
    color: var(--light-blue);
    font-size: 1.4rem;
    font-weight: 700;
    transition: ease-in-out 0.2s;
}

nav .nav-links .active {
    color: var(--dark-blue) !important;
}

nav .nav-links a:hover {
    color: var(--dark-blue);
}

nav .nav-account {
    width: 20%;
    margin-right: 75px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-account-button {
    display: flex;
    align-items: center;
    border: 2px solid #182B32;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: fit-content;
    height: 65px;
    background-color: transparent;
    padding: 0 20px 0 20px;
    color: var(--dark-blue);
}

.nav-account-button p {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 10px;
}

.nav-account-login {
    gap: 10px;
    color: var(--white);
    background: linear-gradient(90deg, #6E8894 0%, #005E8A 100%);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 15px;
    height: 65px;
    width: 150px;
}

/* ------------------------------------------- END NAVBAR ------------------------------------------- */

.loading-container {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container img {
    width: 120px;
    height: 120px;
    animation: rotateY 1.5s linear infinite;
}

.loading-container p {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 5px 0 0 10px;
}

@keyframes rotateY {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }


/* ------------------------------------------- END LOADER ------------------------------------ */

.error-container {
    z-index: 1000;
    position: absolute;
    top: 2%;
    right: 0;
    border: rgb(204, 0, 0) 5px solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: var(--white);
    min-height: 120px;
    height: fit-content;
    width: 350px;
    padding: 8px;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.error-container span {
    display: flex;
    align-items: center;
    color: rgb(204, 0, 0);
    gap: 10px;
    margin-left: 10px;
}

.error-container p {
    font-size: 1rem;
    margin-left: 10px;
}

/* ------------------------------------------- END ERROR ------------------------------------ */

.restaurants-page {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 120px);
    height: fit-content;
}

.restaurants-page section:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.filter-input-container {
    height: 80px;
    width: 900px;
    border: #6E8894 2px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px
}

.filter-input-container div:nth-of-type(1), 
.filter-input-container div:nth-of-type(2) {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    color: var(var(--dark-blue));
}

.filter-input {
    height: 30px;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
}

.filter-input:focus {
    outline: none;
}

.filter-input-container span {
    display: inline;
    background-color: var(--light-blue);
    height: 80%;
    width: 2px;
    border-radius: 20px;
}

.filter-input-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 20%;
    height: 80%;
    background: #6E8894;
    border: 2px solid #6E8894;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: var(--white);
}

.filter-input-container button p {
    font-size: 1.3rem;
    font-weight: 700;
}

.restaurants-page section:nth-child(2) {
    height: 90px;
}

.filter-foods-container {
    gap: 30px;
}

.foodchoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.foodchoice:hover {
    cursor: pointer;
}

.foodchoice:hover p {
    color: var(--dark-blue) !important;
}

.food-active p {
    color: var(--dark-blue) !important;
    text-decoration: underline var(--dark-blue) 2px !important;
    text-underline-offset: 5px;
}

.foodchoice img {
    width: 60px;
    height: 60px;
}

.foodchoice p {
    color: var(--light-blue);
    font-weight: 600;
}

.gen-filter-btn {
    border: none;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 120px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--light-blue);
}

.gen-filter-btn p {
    color: var(--light-blue);
    font-size: 1.1rem;
    font-weight: 700;
}

.gen-filter-btn:hover {
    border: 1px solid var(--light-blue);
}

.restaurant-card {
    width: 310px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.restaurant-card img {
    width: 310px;
    height: 60%;
    border-radius: 15px; 
    object-fit: cover;
}

.restaurant-card-info {
    height: 40%;
}

.restaurant-card-info h1 {
    color: var(--dark-blue);
    font-size: 1.4rem;
    margin: 5px 0 0 0;
}

.restaurant-card-info span {
    color: var(--light-blue);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.restaurant-card-info span span {
    display: flex;
    gap: 3px;
    color: var(--light-blue);
    font-weight: 650;
    font-size: 1rem;
    margin: 0;
}

.filled-ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
}

.empty-ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px var(--light-blue);
}

.restaurants-page section:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurants-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    width: 90%;
    height: fit-content;
    margin: 20px 0 0 40px;
}

/* -------------------------------END OF RESTAURANTS PAGE ------------------------------------------*/

.breadcrumb {
    margin: 30px 120px 40px 120px;
}

.breadcrumb h1 {
    color: var(--dark-blue);
    font-size: 2rem;
    margin: 0;
}

.breadcrumb span {
    display: block;
    background-color: var(--light-blue);
    width: 100%;
    height: 1px;
    margin: 5px 0 0 0;
}

.bc-det {
    display: flex !important;
    justify-content: space-between !important;
}

/* --------------------------------- END OF BREADCRUMB ---------------------------------*/

.login-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-form div:nth-child(1), 
.login-form div:nth-child(2), 
.login-form div:nth-child(3){
    border: var(--light-blue) 1px solid;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 420px;
    border-radius: 10px;
}


.login-form div:nth-child(1) label, 
.login-form div:nth-child(2) label, 
.login-form div:nth-child(3) label{
    color: var(--dark-blue);
    font-size: 1.2rem;
    margin: 10px 0 0 15px;
}

.login-form div:nth-child(1) input, .login-form div:nth-child(2) input {
    height: 32px;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin: 3px 0 0 15px;
    padding: 3px 3px 3px 0px;
}

.login-form div:nth-child(1) input:focus,
.login-form div:nth-child(2) input:focus {
    outline: none;
}

.pw-input {
    flex-direction: row !important;
    border: none !important
}

.pw-input input {
    width: 85%;
    height: 32px;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0px 0 0 15px;
    padding: 3px 3px 3px 0px;
    border: none;
}

.pw-input input:focus {
    outline: none;
}

.pw-input button {
    color: var(--light-blue);
    width: 15%;
    height: 32px;
    margin: 3px 3px 0 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.login-btn {
    background: linear-gradient(90deg, #6E8894 0%, #005E8A 100%);
    border-radius: 10px;
    height: 80px;
    width: 420px;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.login-btn:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.no-account {
    width: 420px;
    margin: 10px 0 0 0;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 600;
}

.no-account a {
    color: var(--dark-blue);
    text-decoration: underline var(--dark-blue) 1px;
    font-weight: 600;
    margin: 0 0 0 10px;
}

/* ----------------------------------- END OF LOGIN PAGE ---------------------------------------*/

.fav-btn {
    background: linear-gradient(90deg, #6E8894 0%, #005E8A 100%);
    border: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    padding: 3px 0 3px 0;
    width: 220px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.fav-btn:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--light-blue);
    margin: 20px 0 0 120px;
}

.back-btn:hover {
    cursor: pointer;
    color: var(--dark-blue);
}

.back-btn p {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: underline var(--light-blue) 2px;
}

.back-btn:hover p {
    text-decoration: underline var(--dark-blue) 2px;
}

.restaurant-details {
    margin: 0 120px 0px 120px;
    height: fit-content;
    display: flex;
    padding: 0 0 50px 0;
}

.left-details {
    margin: 0 0 0 20px;
    width: 62%;
}

.right-details {
    margin: 0 0px 0 40px;
    width: 38%;
}

.image-det-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.image-det-container img:nth-child(1) {
    width: 380px;
    height: 330px;
    border-radius: 15px 0 0 15px;
    object-fit: fill;
}

.right-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-images img:nth-child(1) {
    width: 330px;
    height: 155px;
    border-radius: 0 15px 0 0;
    object-fit: fill;
}

.right-images img:nth-child(2) {
    width: 330px;
    height: 155px;
    border-radius: 0 0 15px 0;
    object-fit: fill;
}

.det-divider {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--light-blue);
    margin: 30px 0 15px 0;
}

.info-bot {
    display: grid;;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
}
  
.info-bot-item {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    border: none;
    color: var(--light-blue);
    gap: 15px;
    font-size: 1.3rem;
    font-weight: 650;
}   

.pricerange-dots {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 650;
}

.reservation-form {
    width: 85%;
    height: fit-content;
    padding: 30px 0;
    border: var(--dark-blue) 1px solid;
    border-radius: 15px;
}

.inner-form {
    height: 90%;
    width: 80%;
}

.inner-form h2 {
    color: var(--dark-blue);
    font-size: 1.8rem;
    margin: 0 0 15px 0;
}

.first-res-box {
    border: var(--light-blue) 1px solid;
    border-radius: 15px;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 22px 0;
}

.top-res-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.first-res-i {
    width: 50%;
    height: 100%;
    border: var(--light-blue) 1px solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.second-res-i {
    width: 50%;
    height: 100%;
}

.first-res-i, .second-res-i, .bottom-res-row {
    display: flex;
    flex-direction: column;
}

.bottom-res-row {
    height: 50%;
    border: var(--light-blue) 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.second-res-box {
    border: var(--light-blue) 1px solid;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin: 0 0 22px 0;
}

.reservate-btn {
    background: linear-gradient(90deg, #6E8894 0%, #005E8A 100%);
    border-radius: 10px;
    height: 80px;
    width: 100%;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    transition: ease-in-out 0.1s;
}

.reservate-btn:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.inner-form label {
    color: var(--dark-blue);
    font-size: 1.2rem;
    margin: 10px 0 0 15px;
}

.inner-form input {
    height: 32px;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin: 3px 0 0 15px;
    padding: 3px 3px 3px 0px;
}

.inner-form input:focus {
    outline: none;
}

.inner-form select {
    height: 32px;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    margin: 3px 15px 0 15px;
    padding: 3px 3px 3px 0px;
    background: transparent;
}

/* ----------------------------------- END OF RESTAURANT DETAILS PAGE ------------------------------------ */

.logout-btn {
    background: linear-gradient(90deg, #c78c7a 0%, #d6530c 100%);
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    padding: 3px 10px 3px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: ease-in-out 0.1s;
}

.logout-btn:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-account {
    width: 40%;
}

.right-account {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    padding: 0 40px 0 0;
}

.account-card {
    border: solid 1px var(--light-blue);
    border-radius: 15px;
    height: 525px;
    width: 350px;
    margin: 0 0 0 40px;
    padding: 30px 60px;
}

.account-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--light-blue);
    object-fit: cover;
}

.acc-img-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.acc-img-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.account-card h2 {
    margin: 30px 0 0 0;
    color: var(--dark-blue);
    font-size: 1.8rem;
    font-weight: 700;
}

.dark-divider {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--dark-blue);
}

.light-divider {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--light-blue);
}

.account-card p {
    color: var(--light-blue);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 15px 0 15px 0;
}

.account-modal {
    z-index: 100;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    border: var(--light-blue) 2px solid;
    border-radius: 15px;
    background-color: var(--white);
    padding: 20px;
}

.account-modal h2 {
    color: var(--dark-blue);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.account-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account-modal form span {
    display: flex;
    gap: 15px;
}

.account-modal form input {
    height: 32px;
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3px 5px;
    border: solid 1px var(--light-blue);
    border-radius: 8px;
}

.account-modal form input:focus {
    outline: none;
}

.account-modal form button:nth-of-type(2) {
    background: linear-gradient(90deg, #6E8894 0%, #005E8A 100%);
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 650;
    cursor: pointer;
    padding: 3px 20px 3px 20px;
    transition: ease-in-out 0.1s;
    width: 120px;
    text-align: center;
}

.account-modal form button:nth-of-type(1) {
    background: linear-gradient(90deg, #c78c7a 0%, #d6530c 100%);
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 650;
    cursor: pointer;
    padding: 3px 20px 3px 20px;
    transition: ease-in-out 0.1s;
    width: 120px;
    text-align: center;
}

.account-modal form button:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.personal-info {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--light-blue);
    border-radius: 15px;
    color: var(--dark-blue);
    padding: 20px;
}

.right-account div:nth-child(3) {
    margin: 30px 0 0 0;
}

.personal-info h2 {
    margin: 0;
}

.additional-info {
    overflow: hidden;
    width: 650px;
    max-height: 0;
    transition: max-height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 0 20px 0 20px;
}

.additional-info.visible {
    max-height: calc(90px * 3 + 20px * 3);
}

.info-row {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--light-blue);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 85px;
    width: 100%;
    margin: 20px 0 0 0;
}

.info-row h3 {
    margin: 0;
    color: var(--dark-blue);
    font-size: 1.3rem;
    font-weight: 600;
}

.info-label {
    display: flex;
    justify-content: space-between;
}

.info-label button {
    background-color: transparent;
    border: none;
    text-decoration: underline var(--light-blue) 2px;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    color: var(--light-blue);
    transition: ease-in-out 0.3s;
}

.info-label button:hover {
    text-decoration: underline var(--dark-blue) 2px;
    color: var(--dark-blue);
    cursor: pointer;
}

.info-row p {
    color: var(--light-blue);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0 0 0;
}

/* ----------------------------------- END OF ACCOUNT PAGE ------------------------------------ */

.favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    max-width: 100%;
    height: fit-content;
    margin: 30px 94px 40px 94px;
}

/* For bigger screens */
@media screen and (min-width: 1600px) {
    .favorites-container {
        width: 100%;
        margin: 30px 120px 40px 120px;
    }
}

.fav-card {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.fav-card button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.fav-card button:hover {
    cursor: pointer;
    color: var(--light-blue);
}

/* -------------------------- END OF FAVORITES ----------------------------- */

.reservations-container {
    margin: 20px 120px 0px 120px;
    min-height: calc(100vh - 120px - 80px - 50px);
    height: fit-content;
}

.reservations-container h2 {
    margin: 0 0 30px 0;
    color: var(--dark-blue);
    font-size: 1.8rem;
}

.reservation-card {
    height: 240px;
    width: 950px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 0 30px 0;
    display: flex;
}

.res-card-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.res-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 95%;
}

.res-card-info h3 {
    color: var(--dark-blue);
    font-size: 1.7rem;
    margin: 0 0 10px 0;
    overflow: truncate;
    width: 70%;
}

.cncl-btn {
    background: var(--light-blue);
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 650;
    cursor: pointer;
    padding: 4px 20px 4px 20px;
    margin: 0 0 10px 0;
    transition: ease-in-out 0.1s;
}

.cncl-btn:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.res-card-info .tf {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--light-blue);
    font-weight: 650;
    font-size: 1.4rem;
    margin-bottom: 50px;
}

.res-bot-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 90%;
}

.res-bot-row span {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--light-blue);
    font-weight: 650;
    font-size: 1.3rem;
    font-weight: 800;
}

.reservation-card img {
    width: 30%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    object-fit: cover;
}

.no-res {
    margin: 20px 0 20px 20px;
    color: var(--light-blue);
    font-size: 1.2rem;
}

